h1 {
    color: black;
    background-color: #78c1f3;   
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    color: #78c1f3;
    text-align: center;
}

body {
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ol {
    display: inline-block;
    text-align: left;
    background-color: #9be8d8;
}

li {
    background-color: #9be8d8;
    color: black;
    line-height: 150%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
    background-color: #e2f6ca;
    display: inline-block;
}

tr {
    background-color: #e2f6ca;
    color: black;
    text-align: center;
}

table, th, tr, td {
    border: 5px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


